.sidebar{
  position: fixed;
  
  padding-top: 20px;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 80px;
 
  font-size: 12px;
  background-color: white;
  
  
 
}
.sidebar img{
  height: 24px;
  display: block;
  margin: 0 auto;
}
.Home,.Explore,.Subscriptions,
.Originals,.YouTube-Music,.Library{
  height: 90px;

}
.Home-image,.Explore-image,.Subscriptions-image,
.Originals-image,.Music-image,.Library-image{
  height: 24px;
}
.Home-text,.Explore-text,.Subscriptions-text,
.Originals-text,.Music-text,.Library-text{
  text-align: center;
  margin-top: 10px;
}